DATABASE_URL=
INTERNAL_SECRET=

PESAPAL_CONSUMER_KEY=TDpigBOOhs+zAl8cwH2Fl82jJGyD8xev
PESAPAL_CONSUMER_SECRET=1KpqkfsMaihIcOlhnBo/gBZ5smw=
PESAPAL_ENV=sandbox
PESAPAL_IPN_URL=https://api.yourdomain.com/payments/webhook/pesapal/ipn
PESAPAL_CALLBACK_URL=https://api.yourdomain.com/payments/webhook/pesapal/callback

ORDER_SERVICE_URL=http://order-service:8004
USER_SERVICE_URL=http://user-service:8002
NOTIFICATION_SERVICE_URL=http://notification-service:8008
FRONTEND_URL=https://yourdomain.com